<section *ngIf="!editMode" class="card bg-dark mb-3">
    <div class="card-header">
        <h4 class="sectionTitle colorTitle">Mes centres d'intérêt</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-danger text-center" *ngIf="errorMessage">
            <p><strong>{{ errorMessage }}</strong></p>
        </div>
        <ul *ngFor="let hobby of hobbies;">
            <p><fa-icon [icon]="circle" class="colorSectionIcon mr-3"></fa-icon><app-hobby [hobby]="hobby"></app-hobby></p>
        </ul>
    </div>
</section>

<div *ngIf="editMode" class="container">
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-success text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <app-add-hobby (create)="createHobby($event)"></app-add-hobby>
    <hr>
    <div *ngIf="hobbies">
        <div class="mb-5" ngbDropdown>
            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Sélectionnez l'élément à modifier</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let hobby of hobbies" (click)="selectedHobby = hobby" ngbDropdownItem>{{ hobby.id }} - {{ hobby.title }}</button>
            </div>
        </div>
        <br>
        <app-update-hobby *ngIf="selectedHobby" [hobby]="selectedHobby" (update)="updateHobby($event)" (delete)="deleteHobby($event)"></app-update-hobby>
    </div>
</div>
