<section *ngIf="!editMode" class="card bg-dark mb-3">
    <div class="card-header">
        <h4 class="sectionTitle colorTitle">Mes centres d'intérêt</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-danger text-center" *ngIf="errorMessage">
            <p><strong>{{ errorMessage }}</strong></p>
        </div>
        <ul *ngFor="let hobby of hobbies;">
            <p><fa-icon [icon]="circle" class="colorSectionIcon mr-3"></fa-icon><app-hobby [hobby]="hobby"></app-hobby></p>
        </ul>
    </div>
</section>

<div *ngIf="editMode">
    <h3>Mes centres d'intérêt :</h3>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <br>
    <app-add-hobby (create)="createHobby($event)"></app-add-hobby>
    <br>
    <div *ngIf="hobbies">
        <ul *ngFor="let hobby of hobbies">
            <app-update-hobby [hobby]="hobby" (update)="updateHobby($event)"></app-update-hobby>
            <app-delete-hobby [hobby]="hobby" (delete)="deleteHobby($event)"></app-delete-hobby>
            <hr>
        </ul>
    </div>
    <hr>
</div>
