<div *ngIf="!editMode">
    <h3>Hobbies</h3>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div *ngFor="let hobby of hobbies;">
        <app-hobby [hobby]="hobby"></app-hobby>
    </div>
    <hr>
</div>

<div *ngIf="editMode">
    <h3>Hobbies :</h3>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <br>
    <app-add-hobby (create)="createHobby($event)"></app-add-hobby>
    <br>
    <div *ngIf="hobbies">
        <ul *ngFor="let hobby of hobbies;">
            <app-update-hobby [hobby]="hobby" (update)="updateHobby($event)"></app-update-hobby>
            <app-delete-hobby [hobby]="hobby" (delete)="deleteHobby($event)"></app-delete-hobby>
            <hr>
        </ul>
    </div>
    <hr>
</div>
