<div *ngIf="newTechno">
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <div class="image-preview mb-3" *ngIf="previewUrl">
        <img [src]="previewUrl" height="300" />
    </div>
    <form #form4="ngForm" (ngSubmit)="addNewTechno()">
        <div class="form-group">
            <label for="logoTitle">Nom de la nouvelle techno : </label>
            <input type="text" [(ngModel)]="newTechno.title" #logoTitle="ngModel" class="form-control" id="logoTitle" name="logoTitle" required >
            <div class="alert alert-danger" *ngIf="(logoTitle.dirty || logoTitle.touched) && logoTitle.errors">
                Une techno a obligatoirement un nom.
            </div>
        </div>
        <div class="form-group">
            <label for="logoOrder">Ordre d'affichage de la nouvelle techno : </label>
            <input type="number" [(ngModel)]="newTechno.order" #logoOrder="ngModel" class="form-control" id="logoOrder" name="logoOrder" required >
            <div class="alert alert-danger" *ngIf="(logoOrder.dirty || logoOrder.touched) && logoOrder.errors">
                Indiquer un ordre d'affichage du logo (ils sont affiché dans l'ordre croissant).
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="image">Nouveau logo :</label>
            <input type="file" name="image" id="image" (change)="fileProgress($event)" />
        </div>
        <hr>
        <div class="text-center">
            <button [disabled]="form4.invalid" type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </form>
</div>
