<section *ngIf="!editMode" class="card bg-dark mb-3">
    <div class="card-header">
        <h4 class="sectionTitle">Langages et outils</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-danger text-center" *ngIf="errorMessage">
            <p><strong>{{ errorMessage }}</strong></p>
        </div>
        <div *ngFor="let tech of technos;" class="inlineLogos p-2">
            <app-techno [techno]="tech"></app-techno>
        </div>
    </div>
</section>

<div *ngIf="editMode">
    <h3>Editer les technos</h3>
    <hr>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <app-add-techno (create)="addNewTechno($event)"></app-add-techno>
    <br>
    <hr>
    <br>
    <ul *ngFor="let tech of technos;">
        <li>
            <div>
                <app-techno [techno]="tech"></app-techno>
                <br>
                <app-update-techno [techno]="tech" (update)="updateLogoPath($event)" (updateLogoImage)="updateImage($event)"></app-update-techno>
                <br>
                <app-delete-techno [techno]="tech" (delete)="deleteTechno($event)"></app-delete-techno>
                <hr>
            </div>
        </li>
    </ul>
</div>
