<div *ngIf="!editMode">
    <h3>Expériences Professionnelles</h3>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div *ngFor="let xp of experiences;">
        <app-xp [experience]="xp"></app-xp>
    </div>
    <hr>
</div>

<div *ngIf="editMode">
    <h3>Expériences Professionnelles</h3>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <app-add-new-xp (create)="addNewXp($event)"></app-add-new-xp>
    <br>
    <div *ngIf="experiences">
        <ul *ngFor="let xp of experiences;">
            <app-update-xp [experience]="xp" (update)="updateXp($event)"></app-update-xp>
            <app-delete-xp [experience]="xp" (delete)="deleteXp($event)"></app-delete-xp>
            <hr>
        </ul>
    </div>
    <hr>
</div>
