<div *ngIf="!editMode">
    <h3>Projets</h3>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div *ngFor="let project of projects;">
        <app-project [project]="project"></app-project>
    </div>
    <hr>
</div>

<div *ngIf="editMode">
    <h3>Projets :</h3>
    <hr>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <br>
    <app-add-project (create)="createProject($event)"></app-add-project>
    <br>
    <div *ngIf="projects">
        <ul *ngFor="let project of projects;">
            <app-update-project [project]="project" (update)="updateProject($event)"></app-update-project>
            <app-delete-project [project]="project" (delete)="deleteProject($event)"></app-delete-project>
            <hr>
        </ul>
    </div>
    <hr>
</div>

