<section class="card bg-dark mb-3">
    <div class="card-header">
        <h4 class="sectionTitle">Me suivre</h4>
    </div>
    <div class="card-body">
        <p class="text-center">
            <ng-template #infoBulleGit>Lien vers mon profil GiHub</ng-template>
            <ng-template #infoBulleLinkedin>Lien vers mon profil Linkedin</ng-template>
            <a href="{{ linkedinLink }}" [ngbTooltip]="infoBulleLinkedin" target="_blank" class="m-3"><img src="{{ startURIStaticResources }}/assets/logos_liens/Linkedin.png" alt="logo du réseau social Linkedin"/></a>
            <a href="{{ gitHubLink }}" [ngbTooltip]="infoBulleGit" target="_blank" class="m-3"><img src="{{ startURIStaticResources }}/assets/logos_liens/Github.png" alt="logo de GitHub"/></a>
        </p>
    </div>
</section>
