<div *ngIf="newHobby">
    <h4 class="sectionTitle colorTitle">Ajouter un nouveau centre d'intérêt :</h4>
    <br>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-success text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <form #form1="ngForm" (ngSubmit)="createHobby()">
        <div class="form-group">
            <label for="hobbyTitle">Intitullé du hobby : </label>
            <input type="text" [(ngModel)]="newHobby.title" #hobbyTitle="ngModel" class="form-control" id="hobbyTitle" name="hobbyTitle" required >
            <div class="alert alert-danger" *ngIf="(hobbyTitle.dirty || hobbyTitle.touched) && hobbyTitle.errors">
                L'intitulé du hobby est invalide (Ce champ est obligatoire).
            </div>
        </div>
        <div class="form-group">
            <label for="hobbyDescription">Description du hobby : </label>
            <input type="text" [(ngModel)]="newHobby.description" #hobbyDescription="ngModel" class="form-control" id="hobbyDescription" name="hobbyDescription" required >
            <div class="alert alert-danger" *ngIf="(hobbyDescription.dirty || hobbyDescription.touched) && hobbyDescription.errors">
                Veuillez remplir une description du hobby (Ce champ est obligatoire).
            </div>
        </div>
        <br>
        <div class="text-center">
            <button [disabled]="form1.invalid" type="submit" class="btn btn-success btn-lg">Ajouter</button>
        </div>
        <br>
    </form>
</div>
