<div *ngIf="!editMode">
    <h3>Compétences</h3>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div *ngFor="let group of skills;">
        <app-skill-group-display [skillGroup]="group"></app-skill-group-display>
    </div>
    <hr>
</div>

<div *ngIf="editMode">
    <h3>Compétences :</h3>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <br>
    <app-add-skill-group (create)="createSkillGroup($event)"></app-add-skill-group>
    <br>
    <div *ngIf="skills">
        <ul *ngFor="let group of skills;">
            <app-update-skill-group [skillGroup]="group" (createSkill)="createSkillAlone($event)" (updateGroup)="updateSkillGroup($event)" (deleteASkill)="deleteSkill($event)"></app-update-skill-group>
            <br>
            <app-delete-skill-group [skillGroup]="group" (delete)="deleteGroup($event)"></app-delete-skill-group>
            <br>
        </ul>
    </div>
    <hr>
</div>
