<section *ngIf="!editMode" class="card bg-light mb-3">
    <div class="card-header bg-dark">
        <h4 class="sectionTitle colorTitle">Compétences</h4>
    </div>
    <div class="card-body">
        <div class="card-columns">
            <div *ngFor="let group of skills;">
                <app-skill-group-display [skillGroup]="group"></app-skill-group-display>
            </div>
        </div>
    </div>
</section>

<div *ngIf="editMode" class="container mb-4">
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-success text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <app-add-skill-group (create)="createSkillGroup($event)"></app-add-skill-group>
    <hr>
    <div *ngIf="skills">
        <div class="mb-5" ngbDropdown container="body">
            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Sélectionnez l'élément à modifier</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let group of skills;" (click)="selectedSkillGroup = group" ngbDropdownItem>{{ group.id}} - {{ group.title }}</button>
            </div>
        </div>
        <app-update-skill-group [skillGroup]="selectedSkillGroup" (createSkill)="createSkillAlone($event)" (updateGroup)="updateSkillGroup($event)" (deleteASkill)="deleteSkill($event)" (delete)="deleteGroup($event)"></app-update-skill-group>
    </div>
</div>
