<div *ngIf="!editMode">
    <h3>Formations / Diplômes :</h3>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div *ngFor="let formation of formations;">
        <app-formation [formation]="formation"></app-formation>
    </div>
    <hr>
</div>

<div *ngIf="editMode">
    <h3>Formations / Diplômes :</h3>
    <hr>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <br>
    <app-add-formation (create)="createFormation($event)"></app-add-formation>
    <br>
    <div *ngIf="formations">
        <ul *ngFor="let formation of formations;">
            <app-update-formation [formation]="formation" (update)="updateFormation($event)"></app-update-formation>
            <app-delete-formation [formation]="formation" (delete)="deleteFormation($event)"></app-delete-formation>
            <hr>
        </ul>
    </div>
    <hr>
</div>
