<section *ngIf="!editMode" class="card bg-dark mb-3">
    <div class="card-header">
        <h4 class="sectionTitle colorTitle">Formations / Diplômes :</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-danger text-center" *ngIf="errorMessage">
            <p><strong>{{ errorMessage }}</strong></p>
        </div>
        <ul *ngFor="let formation of formations; last as isLast">
            <p><fa-icon [icon]="circle" class="colorSectionIcon mr-3"></fa-icon><app-formation [formation]="formation"></app-formation></p>
            <hr *ngIf="!isLast">
        </ul>
    </div>
</section>

<div *ngIf="editMode" class="container">
    <div class="alert alert-success text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <app-add-formation (create)="createFormation($event)"></app-add-formation>
    <hr>
    <div *ngIf="formations">
        <div class="mb-5" ngbDropdown container="body">
            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Sélectionnez l'élément à modifier</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let formation of formations" (click)="selectedFormation = formation" ngbDropdownItem>{{ formation.year }} - {{ formation.title }}</button>
            </div>
        </div>
        <app-update-formation *ngIf="selectedFormation" [formation]="selectedFormation" (update)="updateFormation($event)" (delete)="deleteFormation($event)"></app-update-formation>
    </div>
</div>
