<div *ngIf="project">
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <form #form="ngForm" (ngSubmit)="updateProject()">
        <h4>Modifier le projet :</h4>
        <br>
        <div class="form-group">
            <label for="modifiedProjectTitle">Titre du projet : </label>
            <input type="text" [(ngModel)]="project.title" #modifiedProjectTitle="ngModel" class="form-control" id="modifiedProjectTitle" name="modifiedProjectTitle" required >
            <div class="alert alert-danger" *ngIf="(modifiedProjectTitle.dirty || modifiedProjectTitle.touched) && modifiedProjectTitle.errors">
                Veuillez fournir un titre pour le projet (Ce champ est obligatoire).
            </div>
        </div>
        <div class="form-group">
            <label for="modifiedProjectDescription">Description du projet : </label>
            <input type="text" [(ngModel)]="project.description" #modifiedProjectDescription="ngModel" class="form-control" id="modifiedProjectDescription" name="modifiedProjectDescription" required >
            <div class="alert alert-danger" *ngIf="(modifiedProjectDescription.dirty || modifiedProjectDescription.touched) && modifiedProjectDescription.errors">
                Veuillez fournir une description du projet (Ce champ est obligatoire).
            </div>
        </div>
        <br>
        <div class="text-center">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Modifier</button>
        </div>
        <br>
    </form>
</div>
