<div *ngIf="phone">
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <form #form2="ngForm" (ngSubmit)="updatePhoneNumber()">
        <h4>Modifier le numérode téléphone :</h4>
        <br>
        <div class="form-group">
            <label for="phoneNum">Nouveau numéro : </label>
            <input type="text" [(ngModel)]="phone.phoneNumber" #phoneNum="ngModel" class="form-control" id="phoneNum" name="phoneNum" required pattern="^(?:(?:\+|00)33[\s.-]{0,3}(?:\(0\)[\s.-]{0,3})?|0)[1-9](?:(?:[\s.-]?\d{2}){4}|\d{2}(?:[\s.-]?\d{3}){2})$">
            <div class="alert alert-danger" *ngIf="(phoneNum.dirty || phoneNum.touched) && phoneNum.errors">
                Le format du nouveau numéro est invalide. Il doit correspondre au format suivant : 0X.XX.XX.XX.XX
            </div>
        </div>
        <hr>
        <div class="text-center">
            <button [disabled]="form2.invalid" type="submit" class="btn btn-primary">Modifier</button>
        </div>
    </form>
</div>
