<div *ngIf="!editMode && basicDatas">
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="card bg-dark mb-3">
        <app-display-photo [photoUrl]='completeUrl'></app-display-photo>
        <div class="card-body">
            <p>{{ basicDatas.firstName }} {{ basicDatas.lastName | uppercase }}</p>
            <p>{{ age }} ans</p>
            <app-display-adress [adress]="adress"></app-display-adress>
            <app-display-phone [phone]="phoneNumber"></app-display-phone>
            <br>
            <div class="text-center">
                <button class="btn btn-secondary btn-lg" type="button" (click)="setVisibleForm()">Me Contacter</button>
            </div>
            <div *ngIf="emailForm">
                <app-display-email></app-display-email>
            </div>
        </div>
    </div>
</div>

<div *ngIf="editMode">
    <div *ngIf="basicDatas" id="display">
        <h3>Identification</h3>
        <hr>
        <app-display-photo [photoUrl]='completeUrl'></app-display-photo>
        <hr>
        <app-display-phone [phone]="phoneNumber"></app-display-phone>
        <app-display-adress [adress]="adress"></app-display-adress>
        <hr>
    </div>
    <br>
    <div id="edit">
        <app-update-photo [photo]="photoPath" (update)="updatePhoto($event)" (updateImage)="updatePhotoImage($event)"></app-update-photo>
        <hr>
        <app-update-phone [phone]="phoneNumber" (updateNum)="updatePhoneNumber($event)"></app-update-phone>
        <hr>
        <app-update-adress [adress]="adress" (updateAddress)="updateAdress($event)"></app-update-adress>
        <hr>
    </div>
</div>
