<div *ngIf="!editMode && basicDatas">
    <h3>Identification</h3>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <br>
    <app-display-photo [photoUrl]='completeUrl'></app-display-photo>
    <hr>
    <app-display-email [email]="basicDatas.email"></app-display-email>
    <p>{{ age }} ans</p>
    <p>{{ basicDatas.firstName }} {{ basicDatas.lastName | uppercase }}</p>
    <app-display-phone [phone]="phoneNumber"></app-display-phone>
    <app-display-adress [adress]="adress"></app-display-adress>
    <hr>
</div>


<div *ngIf="editMode">
    <div *ngIf="basicDatas" id="display">
        <h3>Identification</h3>
        <hr>
        <app-display-photo [photoUrl]='completeUrl'></app-display-photo>
        <hr>
        <app-display-phone [phone]="phoneNumber"></app-display-phone>
        <app-display-adress [adress]="adress"></app-display-adress>
        <hr>
    </div>
    <br>
    <div id="edit">
        <app-update-photo [photo]="photoPath" (update)="updatePhoto($event)" (updateImage)="updatePhotoImage($event)"></app-update-photo>
        <hr>
        <app-update-phone [phone]="phoneNumber" (updateNum)="updatePhoneNumber($event)"></app-update-phone>
        <hr>
        <app-update-adress [adress]="adress" (updateAddress)="updateAdress($event)"></app-update-adress>
        <hr>
    </div>
</div>
