<div *ngIf="email">
    <h4>Votre message :</h4>
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <p><strong>{{ errorMessage }}</strong></p>
    </div>
    <div class="alert alert-succes text-center" *ngIf="sucessMessage">
        <p><strong>{{ sucessMessage }}</strong></p>
    </div>
    <form #mailForm="ngForm">
        <div class="form-group">
            <label for="from">Votre adresse mail : </label>
            <input type="text" [(ngModel)]="message.from" #from="ngModel" class="form-control" id="from" name="from" aria-describedby="emailHelp" required pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+.[a-zA-Z.]{2,15}" >
            <small id="emailHelp" class="form-text text-muted"> Vottre adresse mail me sert uniquement à vous répondre, elle n'est ni stockée, ni communiquée.</small>
            <div class="alert alert-danger" *ngIf="(from.dirty || from.touched) && from.errors">
                Merci d'indiquer une adresse mail valide afin que je puisse vous répondre.
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="subject">Objet : </label>
            <input type="text" [(ngModel)]="message.subject" #subject="ngModel" class="form-control" id="subject" name="subject" required >
            <div class="alert alert-danger" *ngIf="(subject.dirty || subject.touched) && subject.errors">
                Merci d'indiquer le sujet de votre message afin que je puisse vous répondre de manière plus efficace.
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="messageText">Message : </label>
            <textarea type="text" [(ngModel)]="message.message" #messageText="ngModel" class="form-control" id="messageText" name="messageText" required ></textarea>
            <div class="alert alert-danger" *ngIf="(messageText.dirty || messageText.touched) && messageText.errors">
                Le contenu de votre message est vide.
            </div>
        </div>
        <br>
        <div class="text-center">
            <button [disabled]="mailForm.invalid" type="button" class="btn btn-primary" (click)="sendMail()">Envoyer</button>
        </div>
    </form>
</div>
