
<section class="container-fluid">
    <div class="row mr-3 ml-3">
        <div class="col-xl-2">
            <app-identification [editMode]=false class="d-print-table-cell"></app-identification>
            <app-follow-me id="follow"></app-follow-me>
            <app-hobbies id="hobbies" [editMode]=false></app-hobbies>
        </div>
        <div class="col-xl-2">
            <app-technos [editMode]=false></app-technos>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-xl-6">
                    <app-experiences [editMode]=false></app-experiences>
                </div>
                <div class="col-xl-6">
                    <app-formations [editMode]=false></app-formations>
                </div>
                <div class="col-xl-12">
                    <app-projects [editMode]=false></app-projects>
                </div>
                <div class="col-xl-12">
                    <app-skills [editMode]=false></app-skills>
                </div>
            </div>
        </div>
    </div>
</section>
